fieldset {
	border:0;
	width:25%;
	margin-top:30px;
	margin-left:3%;
	padding:0;
}
#DDL_Cours {
	width:100%;
}
#ListeQuiz {
	margin-left:3%;
	margin-top:0;
	margin-right:0;
}
#ListeModifQuiz {
	margin-left:11%;
}
#ListeGererQuestions {
	margin-left:11%;
}

.ListeGererQuiz {
	width:20%;
	height:500px;
	display:inline-block;
}

#LBL_ListesGererQuiz {
	margin-left:5%;
	width:90%;
	text-align:center;
	padding:10px;
	font-size:x-large;
}

#GererQuiz {
	float:left;
	margin-left:6%;
}
#ModifierQuiz{
	margin-left:2%;
}
#GererQuestions {
	float:right;
	margin-right:5%;
}
/* Partie à mettre dans Template.css */ 