vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Sep 2014 20:20:04 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|EPP\\201259678
vti_modifiedby:SR|EPP\\201259678
vti_timecreated:TR|04 Sep 2014 21:11:28 -0000
vti_backlinkinfo:VX|ProjetQuiz/Quiz/Site\\ web/Nouveau\\ dossier/Login.html ProjetQuiz/Quiz/Site\\ web/Nouveau\\ dossier/index.html ProjetQuiz/Quiz/Site\\ web/Nouveau\\ dossier/templatePage.html
vti_nexttolasttimemodified:TW|10 Sep 2014 20:17:26 -0000
vti_cacheddtm:TX|10 Sep 2014 20:17:26 -0000
vti_filesize:IR|5172
