div#enteteSite{
	height:50px;
	width:inherit;
	background-color:#0066FF;
	border:2px black solid;
}
.logo{
	float:left;
	width:50px;
	height:auto;
}

#nomSite{
	float:left;
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size:x-large;
	bottom:30%;
	position:relative;
}

#contenu{
	width:1200px;
	height:90%;
	margin-left:auto;
	margin-right:auto;
	background:#CCCCFF;
	display:block;
	text-align:center;
	min-height:750px;
}

body{
	text-align:center;
	
}

html,body{
	
	height:100%;
	width:100%;
}

#login{
	
	border:2px black solid;
	border-radius:15px;
	background:#9999FF; 
	width:60%;
	height:40%;
	top: 20%;
    left: 20%;
    position:relative;
}
#alerte{
	width:60%;
	left: 20%;
	top: 10%;
	height:5%;
	background:#FFFF66;
	border-radius: 30px;
	border:2px black solid;
	position:relative;
	line-height:300%;
}

#titreConnexion{
	position:relative;
	max-height:5%;
	
}

#nomUsager{
	position:absolute;
	top:25%;
	left:25%;
}

#taNomUsager{
	position:absolute;
	top:25%;
	left:60%;
	height:8%;
}

#motDePasse{
	position:absolute;
	top:40%;
	left:25%;
}

#taMotDePasse{
	position:absolute;
	top:40%;
	left:60%;
	height:8%;
}

#linkLostAcount{
	position:absolute;
	top:70%;
	left:40%;

}


#btnConnexion{
	position:absolute;
	top:55%;
	left:60%;
	height:8%;

}

/* bdp = bas de page */
#bdp{
	width:40%;
	height:10%;
	top: 90%;
    left: 30%;
	position:absolute;
}

#bdpAPropos{
	position:absolute;	
	top: 0%;
	left:0%;
}

#bdpFAQ{
	position:absolute;
	top: 0%;
	left:48%;
}

#bdpDevelopeur{
	position:absolute;
	top: 0%;
	right:0%;
}






