/*
// Admin.css
// Fait par : Simon Bouchard
// Contenu : Contien le css de la page Admin.php
*/
.padding{
    margin-top: 3%;
}

.padding:hover{
    border: 1px solid #bebdbd;
    background: #f9f9f9 url("../../jquery-ui-1.11.2.custom/images/ui-bg_highlight-hard_100_f9f9f9_1x100.png") 50% 50% repeat-x;
    color: #e69700;
    font-weight: bold;
}

.nonImplementer{

}
#deploiement{
    max-width:55%;
    margin-top: 2%;
    margin-left: 40%;
    max-height: 500px;
    text-align: center;
}

#optionCours{
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
    float:left;
}

#leConteneur{
    display:inline-block;
    width: 100%;
    float:right;
    margin-top: 2%;
}

#DDL_Cours{
    width: 80%;
}