#logo{
    width: 400px;
    height: 400px;
}
.centrer{
    text-align: center;
}

p.centrer{
    width: 70%;
    margin-left: 15%;
}

.screenshot{
    width:80%;
    margin-top: 20px;
    border:solid black 1px;
}