/*
//APropos.css
//Fait par : Simon Bouchard
// Contien le peu de css nécessaire pour la page a propos
*/

#logo{
    width: 300px;
    height: 300px;
}
.centrer{
    text-align: center;
}

p.centrer{
    width: 70%;
    margin-left: 15%;
}

.screenshot{
    width:80%;
    margin-top: 20px;
    border:solid black 1px;
}

hr {
    width: 80%;
}