.droite {
    text-align: center;
    display: inline-block;
    width:60%;

}

.gauche {
    text-align: center;

}

.conteneur{

}

img{
    width: 200px;
    height: 200px;
    margin-top:2%;
}

#ImgSimon{

}
#ImgIsa{
    margin-left: 5%;
}
#ImgMathieu{
    margin-left: 5%;
}

#page{
    text-align: center;
}

.gras{
    font-weight: bold;
}
.DescSimon{
    width: 200px;
    float: left;
}
.DescIsa{
    width: 200px;
    float: right;
}
.DescMathieu{
    width: 200px;

}

h1{
    margin-left: 10%;
    width:80%;
}

hr{
    width: 80%;
}