/*
    Par Isabelle Angrignon
    Le 8/10/2014
    CSS pour les éléments composant le div dynamique qui présente unequestion à répondre
*/

/*Div dynamique*/
#QuestionAleatoire{
    background-color: rgba(79, 168, 255, 1);
}

/* suiviQuiz == Barre d'info (entete) de suivi du quiz*/

/*format du texte de la barre d'info de suivi du quiz*/
.suiviQuiz{
    align-self: center;
    padding: 2px;
    text-decoration:none;
    margin: 0 auto;
}

#enteteQuiz{
    padding-top: 20px;
    margin-top: 20px;
    border: solid rgba(51, 51, 51, 0.77) 1px;
    /* Arrondis de coins*/
    -webkit-border-top-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
table.suiviQuiz{
    width:90%;
}

div.suiviQuiz {
    width:90%;
    background-color: rgba(230, 151, 0, 0.67);
    margin: 0 auto;
}

#labelCours {
    font-size: 30px;
    width: 60%;
}

#labelScore{
    font-size: 22px;
    width: 40%;
}

#labelTitreQuiz {
    font-size: 30px;
    width: 60%;
}

#labelType {
    width: 30%;
}
#labelProp {
    width: 30%;
}

/* mettre une classe pour les éléments de la question ici au besoin*/

.zoneQuestion {
    border-radius: 5px;
}

.zoneReference {
    font-size: small;
    padding: 10px;
}

#idQuestion{

}
#nomProfQuestion{
    float: right;
}

#divQuestion{
    width:90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    font-size:large;
    font-family:"Comic Sans MS", cursive, sans-serif;
    border:solid rgba(51, 51, 51, 0.77) 1px;
}

#labelEnonce{
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(125, 171, 211, 1);
    width:90%;
  /*  min-height:70px;*/
    max-height: 200px;
    overflow-y: auto;
    border-radius:10px;
    padding:20px;
    padding-top:10px;
    border:solid rgba(51, 51, 51, 0.77) 1px;
    overflow-x:hidden;
}

#labelEnonce textarea {
    background-color:inherit;
    margin:0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:16px;
    resize:none;
    width:100%;
    color:black;
    outline: none;
    border:none;
    font-weight:100;
}
/*Div qui contient le ul - li -  des choix de réoponse*/
#divChoixReponse{
    margin-left: 12.5%;
    margin-right: 12.5%;
    width:70%;
    margin-top: 20px;
}

#UlChoixReponse{
    margin: 0 auto;
    width:90%;
    font-family:"Comic Sans MS", cursive, sans-serif;
    border-radius:10px;
}

#UlChoixReponse .ui-selecting { background: #fec71b; }

#UlChoixReponse .ui-selected {
    border: 1px solid #bebdbd;
    background: #f9f9f9 url("../../jquery-ui-1.11.2.custom/images/ui-bg_highlight-hard_100_f9f9f9_1x100.png") 50% 50% repeat-x;
    color: #e69700;  /* vert #44b806; */
    font-weight: bold;
}

#UlChoixReponse li {
    background-color: rgba(79, 168, 255, 0.45);
    height: auto;
    min-height: 43px;
    max-height: 70px;
    overflow-y: auto;
    margin-bottom: 2px;
}

#btnSuivant{
    background:  rgba(40,191,40,0.8);
}

#bouttonValider, #bouttonSuivant{
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}