/*  
	GereCours.css
	Par : Simon Bouchard
	Description : Contient le css qui est spécifique au HTML de la page GererCours.php
*/


#soumettre{
    width:50%;
    display: inline-block;
}

/* CSS propre aux listes principales */
#ListeCours {
	margin-left:3%;
	margin-top:0;
	margin-right:0;
}

#ListeModifGroupe {
	margin-left:8%;
    width: 23%;
}

#ListeModifGroupe ul {
	height:75%;
}

#QuizDropZone {
	margin-bottom:20px;
	background-color:white;
	list-style-type:none;
	vertical-align:middle;
    border:dashed black 1px;
    text-align: center;
    max-height: 50px;
    overflow: hidden;
}

#QuizDropZone li {
	border-radius: inherit;
	padding-top:15px;
	height:35px;
    text-align: left;
    padding-left:20px;
    font-weight:100;
    padding-right:12px;
    max-height: 50px;
    overflow: hidden;
}

#QuizDropZone li span {
	float:left;
	line-height:50px;
}

.QuizDropZone_hover {
	background-color: white;
    vertical-align: middle;
}

#ListeGererEtudiants {
	margin-left:8%;
    width:23%;
}

#UlQuestion {
	height:85%;
}

.BoutonDiv {
	border:solid black;
	line-height: 50px;
	background-color:white;
}
.BoutonDiv:hover{
    background-color: #F76B21;
    color:#ffffff;
}

#AjouterQuestion:hover {
	background-color:#E4E4E4;
}

.ListeGererCours {
	width:20%;
	height:500px;
	display:inline-block;
}

.ListeDivElementStyle {
	width:100%;
	height: 50px;
	border-radius:10px;
	cursor:pointer;
	text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

/* Label pour les listes principales */
#LBL_ListesGererCours {
	width:90%;
	text-align:center;
	padding:10px;
	font-size:x-large;
}

#GererCours {
	float:left;
    margin-left:6%;
}
#ModifierGroupe{

}
#GererEtudiants {
	float:right;
    margin-right: 2%;

}


#BTN_CSV{
    width:45%;
    float: left;
}

#BTN_Vider{
    width:45%;
    float: right;
}
.BTN_Holder{
    display: inline-block;
    width: 100%;
}

#BTN_Eleve{
    width:45%;
    float: left;
}
#BTN_EleveReinitialiser{
    width:45%;
    float: right;
}
