#login{
    border:2px black solid;
    border-radius:15px;
    background:#9999FF;
    width:50%;
    margin-top: 50px;
    left: 20%;
    position:relative;
    padding:5%;
    text-align:center;
    margin-bottom: 75px;
}

#login div {
    position:relative;
}
#alerte{
    width:60%;
    left: 20%;
    margin-top: 50px;
    height:5%;
    line-height:300%;
    position:relative;
}

.gauche {
    margin:0;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.alignLeft
{
    float:left;
}

.conteneur{
    vertical-align: top;
    margin-top:5%;
    line-height:3em;
    display:inline-block;
    width :100%;

}

.alignRight
{
    float: right;
}

.droite {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 15%;
}

#login_Form {
    margin-top:5%;
    line-height:3em;
    display:inline-block;
    width :100%;
}
.titre{
    text-align:center;
    font-size:2em;
    margin:0 auto;
}

#ChampInfoUsager {
    margin:0;
    vertical-align: top;
    float:left;
    text-align: left;
    width: 40%;
    padding-left:10% ;

}
#loginLabels p {
    margin:0;

}
#InfoUsager {
    vertical-align: top;
    margin:0;
    float:right;
    text-align: left;
    width: 40%;
    padding-left: 10%;

}
/*Firefox explose la disposition du form de login lorsqu'il y a une margin-left. Mathieu Dumoulin*/
@-moz-document url-prefix() {
    #loginTextFields{
        margin:0 auto;
    }
}
#TBNomUsager{
    position:relative;
    top:0;
    left:0;
}


#TBMotDePasse{
    position:relative;
    top:10%;
    left:0;
}

#linkLostAcount{
    top:70%;
    left:40%;
}


#btnConnexion{
    padding:5px;
    border:2px solid black;
    border-radius: 5px;
    background-color:silver;
}

#btnConnexion:hover {
    background-color:white;
}
#btnConnexion:focus {
    border-color:gray;
}

