/*  
	Prof-GererQuiz.css
	Par : Mathieu Dumoulin
	Date : 19/09/2014
	Description : Contient le css qui est spécifique au HTML de la page Prof-GererQuiz.php 
*/

/* CSS propre au drop down list des cours */
fieldset {
	border:0;
	margin-top:30px;
	margin-left:3%;
	padding:0;
}

#DDL_Cours {
	width:100%;
}


/* CSS propre aux listes principales */
#ListeQuiz {
	margin-left:3%;
	margin-top:0;
	margin-right:0;
}

#ListeModifQuiz {
	margin-left:11%;
}

#ListeModifQuiz ul {
	height:85%;
}

#QuizDropZone {
	margin-bottom:20px;
	background-color:#ffffff;
	list-style-type:none;
	vertical-align:middle;
	border:dashed black 1px;
}

#QuizDropZone li {
	border-radius: inherit;
	padding-top:15px;
	height:35px;
}

#QuizDropZone li span {
	float:left;
	line-height:50px;
}

.QuizDropZone_hover {
	background-color: #ffffff;
}

#ListeGererQuestions {
	margin-left:11%;
}

#UlQuiz li {
    cursor:not-allowed;
}

#UlQuestion {
	height:85%;
}

.divProfDansLi {
    font-size : 10px;
    font-family: arial;
    width:100%;
    text-align:right;

}

.Reponsefocused[contentEditable=true]{
    background-color:white;
}

#BTN_SupprimerReponse {
    float:right;
}

#AjouterQuestion {
	border:solid black;
	margin-top:10%;
	line-height: 50px;
	background-color:white;
}

#AjouterQuestion:hover {
	background-color:#E4E4E4;
}

.ListeGererQuiz {
	width:20%;
	height:500px;
	display:inline-block;
}


.ListeDivElementStyle {
	width:100%;
	height: 50px;
	border-radius:10px;
	cursor:pointer;
	text-align: center;
}

/* Label pour les listes principales */
#LBL_ListesGererQuiz {
	margin-left:5%;
	width:90%;
	text-align:center;
	padding:10px;
	font-size:x-large;
}

#GererQuiz {
	float:left;
	margin-left:6%;
}
#ModifierQuiz{
	margin-left:2%;
}
#GererQuestions {
	float:right;
	margin-right:5%;
}

#QuestionConteneur {
    display:inline-block;
    width:50%;
}

#EnonceQuestion {
    background-color:#E66100;
    width:480px;
    max-height:200px;
    overflow-y:auto;
    overflow-x:hidden;
    //font-size:12px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    border:1px solid black;
    border-radius:10px;
    padding:10px;
    display:inline-block;
    outline: none;
}

.enonceVide:before {
    content: attr(placeholder);
    color: white;
}


#reponseConteneur {
    background-color:rgba(125, 171, 211, 1);
    min-height:50px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    border:1px solid black;
    border-radius:10px;
    margin-top:20px;
    padding:10px;
}

#reponseConteneur ul li input[type=radio] {
    width:20px;
    height:20px;
    vertical-align: middle;
    margin-top:-3px;
}
.dDivPrincipale {
    padding:10px;
}

.reponsesQuestion {
    background-color:#d3d3d3;
    width:90%;
    min-height:20px;
    border:solid darkgray 1px;
    display:inline-block;
    vertical-align: top;
    margin-bottom:20px;
}

#Ul_Reponses {
    list-style: none;
    padding-left:0;
}

#parametresQuestion {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    height:500px;
}

#parametresQuestion .ui-widget-content {
    background:#d3d3d3;
    padding-left:0;
    padding-top:3px;
    line-height:20px;
}

#parametresQuestion div ul {
    margin:0;
    padding:0;
    font-size:12px;
}

#listeAjoutCours {
    list-style: none;
    cursor:default;
}

#ActionQuestion {
    width:100%;
}
#BTN_ConfirmerQuestion {
    float:right;
    margin-right:100px;
}